:root{
  --color-primary: #34c94b;
  --color-black:#121212;
  --color-white:#fff;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

*{
  margin:0;
}

body{
  font-family: "poppins",sans-serif;
  line-height:1.5;
  background-color: var(--color-black);
  overflow-x: hidden;
}

img,svg{
  display: block;
  max-width: 100%;
}
