.wrapper {
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
}

.leftNav {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 10;
    color: var(--color-white);
    cursor: pointer;
}
.rightNav {
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-50%);
    z-index: 10;
    color: var(--color-white);
    cursor: pointer;
}