.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.cardWrapper{
    margin-top: 30px;
    margin-bottom: 30px;
}
.wrapper{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.parent{
    margin-top: 25px;
    border-top: 1px solid #34C94B;
    border-bottom: 1px solid #34C94B;
    margin-bottom: 25px;
}